{
    log {
        format filter {
            wrap json
            fields {
                request delete
            }
        }
    }
}

https://localhost {
    tls internal
    @internal path /health/*
    handle @internal {
        respond 404
    }
    handle /api/* {
        reverse_proxy api:8080
    }
    handle {
        reverse_proxy web:80
    }
}
https://s.localhost {
    tls internal
    @internal path /health/*
    handle @internal {
        respond 404
    }
    handle {
        reverse_proxy redirector:8080
    }
}
